body {
    font: Arial, Helvetica, sans-sarif;
}
#container {
    width: 1150px;
    margin: 0 auto;
    overflow: hidden
}

#header {
    height: 100px; 
}

#brand {
    float: left;
}
h1 a {
    font-size: 1.3em;
    font-weight: 100;
    color: #831FB5;
    text-decoration: none;
}

#searchbox {
    float: right;
    -webkit-background: linear-gradient(#E4F2B9, #B7E953);
    -o-background: linear-gradient(#E4F2B9, #B7E953);
    -moz-background: linear-gradient(#E4F2B9, #B7E953);
    background: linear-gradient(#E4F2B9, #B7E953);
    width: 400px;
    height: 60px;
    margin-top: 18px;
}

.text {
    float: left;
    width: 200px;
    color: orange;
    padding: 5px;
    font-size: 15px;
    margin: 15px;
    background: white url(images/search.png) right center no-repeat;
}

.submit {
    float: right;
    padding: 5px;
    font-weight: bold;
    color: white;
    background: #A751D6;
    font-size: 15px;
    margin-right:15px;
    margin-top: 15px;
}

.clear {
    clear: both;
    line-height: 0px;
}

#menu {
    height: 70px;
    padding-top: 30px;
    -webkit-background: linear-gradient(#FFFFFF, #D5D533);
    -o-background: linear-gradient(#FFFFFF, #D5D533);
    -moz-background: linear-gradient(#FFFFFF, #D5D533);
    background: linear-gradient(#FFFFFF, #D5D533);
}

#mainlist {
    list-style: none;
    padding-left: 110px;
}
#mainlist li{
    display: inline;
    padding-right:30px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-left:30px;
    border-right: 1px solid #5D12E7;
}

#mainlist li a {
    text-decoration: none;
    font-size: 17px;
    color: #5D12E7;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    transition: 0.5s ease;
}

#menu ul li:last-child{
    border-right: none;
}

#menu ul li a:hover, #menu ul li a.active{
    font-size: 25px;
    font-weight: bold;
    color: #C34FDB;
}

#intro {
    -webkit-background: linear-gradient(#E5F2BB, #B7E952);
    -o-background: linear-gradient(#E5F2BB, #B7E952);
    -moz-background: linear-gradient(#E5F2BB, #B7E952);
    background: linear-gradient(#E5F2BB, #B7E952);
    padding: 40px;
    margin: 20px 0;
}

#intro h3{
    font-size: 2.5em;
    color: #316901;
    font-weight: normal
}

#intro p {
    font-size: 1.3em;
    color: #628F19;
    text-align: justify
}

.sidebar {
    height: 36em;
    width: 35em;
    border: 1px solid #BAF46F;
    border-radius: 20px;
    margin-top: 20px;
}
#leftsidebar {
    float:left;
}
#rightsidebar {
    float:right;
}

.sidebar h3 {
    padding-left: 30px;
    padding-top: 10px;
    color: #B314DB;
    font-size: 2em;
}

.sidebar ul li {
    padding-bottom: 10px
}

#leftsidebar ul li a{
    text-decoration: none;
    font-size:1.2em;
    color: #5D12E7;
    padding-left: 15px;
    
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    transition: 0.3s ease;
}

#leftsidebar ul li a:hover {
    text-decoration: none;
    color: #B314DB;
    font-size: 1.4em;
    font-weight: bold;
}

#leftsidebar ul li {
    list-style-image: url(images/pointer.png);
    
}

#rightsidebar ul li {
    text-decoration: none;
    font-size:1.2em;
    color: #5D12E7;
    list-style-image:url(images/check.png);
    margin-bottom: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 400px;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    transition: 0.3s ease;
}

#rightsidebar ul li:hover {
    font-size: 1.4em;
    font-weight: bold;
}

#footer {
    height: 50px;
    margin-top: 15px;
    -webkit-background: linear-gradient(#FFFFFF, #D5D533);
    -o-background: linear-gradient(#FFFFFF, #D5D533);
    -moz-background: linear-gradient(#FFFFFF, #D5D533);
    background: linear-gradient(#FFFFFF, #D5D533);
    padding-top: 10px;
    padding-left: 30px;
}